openapi: 3.2.0
info:
  title: AdMob Adapters API
  version: v1beta
  description: The AdMob API allows publishers to programmatically get information about their AdMob account.
  contact:
    name: Google
    url: https://developers.google.com/admob/api/
  termsOfService: https://developers.google.com/terms
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-discovery-revision: '20260731'
servers:
- url: https://admob.googleapis.com
  description: AdMob API
security:
- GoogleOAuth2:
  - https://www.googleapis.com/auth/admob.readonly
  - https://www.googleapis.com/auth/admob.report
tags:
- name: adapters
paths:
  /v1beta/accounts/{accountsId}/adSources/{adSourcesId}/adapters:
    get:
      operationId: accounts_adSources_adapters_list
      summary: List the adapters of the ad source.
      description: List the adapters of the ad source.
      tags:
      - adapters
      parameters:
      - name: parent
        in: path
        description: 'Required. The parent which owns this collection of adapters. Format: accounts/{publisher_id}/adSources/{ad_source_id}'
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+/adSources/[^/]+$
      - name: pageSize
        in: query
        description: The maximum number of adapters to return. If unspecified or 0, at most 10,000 adapters will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        description: A page token, received from a previous `ListAdapters` call. Provide this to retrieve the subsequent page.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdaptersResponse'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
components:
  schemas:
    AdapterAdapterConfigMetadata:
      type: object
      description: Configuration metadata associated with this adapter. They are used to define the ad_unit_configurations associated with AdUnitMappings for the this adapter.
      properties:
        isRequired:
          type: boolean
          description: Whether this metadata is required for configuring the AdUnitMappings.
        adapterConfigMetadataId:
          type: string
          description: This is used to fill the key of the [ad_unit_configurations](#AdUnitMapping.ad_unit_configurations).
        adapterConfigMetadataLabel:
          type: string
          description: Name of the adapter configuration metadata.
    ListAdaptersResponse:
      type: object
      description: Response for the ListAdaptersRequest.
      properties:
        adapters:
          type: array
          description: The adapter.
          items:
            $ref: '#/components/schemas/Adapter'
        nextPageToken:
          type: string
          description: Used to set the `page_token` in the `ListAdapterRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages.
    Adapter:
      type: object
      description: Describes adapters supported by each mediation ad source. Adapters correspond to a specific SDK implementation of the ad source, and are each associated with a single platform and a list of supported ad unit formats. Adapters may also require setting some configurations to perform ad requests. Configurations can be specified in the AdUnitMapping by setting the [ad_unit_configurations](#AdUnitMapping.ad_unit_configurations) key/value pairs. For example, the ad_unit_configurations can be used to pass various IDs to the adapter's third-party SDK.
      properties:
        name:
          type: string
          description: 'Output only. Resource name of the adapter. Format is: accounts/{publisher_id}/adSources/{ad_source_id}/adapters/{adapter_id}.'
          readOnly: true
        platform:
          type: string
          description: 'Output only. Mobile application platform supported by this adapter. Supported values are: IOS, ANDROID, WINDOWS_PHONE'
          readOnly: true
        adapterId:
          type: string
          description: Output only. ID of this adapter. It is used to set [adapter_id](#AdUnitMapping.adapter_id).
          readOnly: true
        formats:
          type: array
          description: Output only. Indicates the formats of the ad units supported by this adapter.
          readOnly: true
          items:
            type: string
        adapterConfigMetadata:
          type: array
          description: Output only. Configuration metadata associated with this adapter.
          readOnly: true
          items:
            $ref: '#/components/schemas/AdapterAdapterConfigMetadata'
        title:
          type: string
          description: Output only. The display name of this adapter.
          readOnly: true
  securitySchemes:
    GoogleOAuth2:
      type: oauth2
      description: Google OAuth 2.0. See https://developers.google.com/admob/api/v1/auth
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/admob.readonly: See your AdMob data
            https://www.googleapis.com/auth/admob.report: See your AdMob data
externalDocs:
  url: https://developers.google.com/admob/api/
