openapi: 3.2.0
info:
  title: AdMob Ad Sources API
  version: v1beta
  description: The AdMob API allows publishers to programmatically get information about their AdMob account.
  contact:
    name: Google
    url: https://developers.google.com/admob/api/
  termsOfService: https://developers.google.com/terms
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-discovery-revision: '20260731'
servers:
- url: https://admob.googleapis.com
  description: AdMob API
security:
- GoogleOAuth2:
  - https://www.googleapis.com/auth/admob.readonly
  - https://www.googleapis.com/auth/admob.report
tags:
- name: adSources
paths:
  /v1beta/accounts/{accountsId}/adSources:
    get:
      operationId: accounts_adSources_list
      summary: List the ad sources.
      description: List the ad sources.
      tags:
      - adSources
      parameters:
      - name: parent
        in: path
        description: 'Required. The parent which owns this collection of ad sources. Format: accounts/{publisher_id}'
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
      - name: pageSize
        in: query
        description: The maximum number of ad sources to return. If unspecified or 0, at most 10,000 ad sources will be returned. The maximum value is 20,000; values above 10,000 will be coerced to 20,000.
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        description: A page token, received from a previous `ListAdSources` call. Provide this to retrieve the subsequent page.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdSourcesResponse'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
        - https://www.googleapis.com/auth/admob.report
components:
  schemas:
    AdSource:
      type: object
      description: Definition of a mediation ad source.
      properties:
        name:
          type: string
          description: 'Resource name of this ad source. Format is: accounts/{publisher_id}/adSources/{ad_source_id}'
        title:
          type: string
          description: Display name of this ad source.
        adSourceId:
          type: string
          description: ID of this ad source.
    ListAdSourcesResponse:
      type: object
      description: Response for the ListAdSourcesRequest.
      properties:
        adSources:
          type: array
          description: The ad sources.
          items:
            $ref: '#/components/schemas/AdSource'
        nextPageToken:
          type: string
          description: Used to set the `page_token` in the `ListAdSourcesRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages.
  securitySchemes:
    GoogleOAuth2:
      type: oauth2
      description: Google OAuth 2.0. See https://developers.google.com/admob/api/v1/auth
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/admob.readonly: See your AdMob data
            https://www.googleapis.com/auth/admob.report: See your AdMob data
externalDocs:
  url: https://developers.google.com/admob/api/
